* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: aqua;
}
.attribution a {
    color: hsl(223, 23%, 94%);
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    background-color: hsl(235, 18%, 26%);
    color: hsl(235, 18%, 26%);
}

.container {
    max-width: 100rem;
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 17.7rem auto;
    background-color: white;
    border-radius: 35px;
}

.newsletter-content {
    padding: 6.4rem;
    font-size: 1.6rem;
}

.newsletter-title {
    font-size: 6.4rem;
    color: hsl(234, 29%, 20%);
    font-weight: 700;
    margin-bottom: 2.4rem;
}

.newsletter-description {
    margin-bottom: 2rem;
}

.newsletter-list {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    list-style: none;
    margin-bottom: 4.8rem;
}

.newsletter-img-box {
    padding: 2.4rem;
}

.newsletter-img {
    height: 60rem;
}

.newsletter-list-item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.label-email {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
    margin-bottom: 0.6rem;
}

.input-email {
    display: block;
    width: 100%;
    padding: 1.6rem;
    border: 1px solid rgba(146, 148, 160, 0.5);
    border-radius: 6px;
    margin-bottom: 2.4rem;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 1.6rem 3.2rem;
    border: none;
    border-radius: 9px;
    background-color: hsl(234, 29%, 20%);
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #fff;
}

.btn-submit:hover {
    cursor: pointer;
    background: linear-gradient(
      to right,
        rgba(255, 98, 87, 1),
        rgba(255, 98, 87, 0.8)
    );
}


/* success case */

.hidden {
  display: none !important;
}

.success {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  background-color: #fff;
  padding: 6.4rem;
  gap: 3.2rem;
  border-radius: 35px;
}

.success img {
  width: 6.4rem;
  height: 6.4rem;
}

.success h1 {
  font-size: 6.4rem;
}

.success-message {
  font-size: 1.6rem;
  line-height: 1.5;
}
